botocore==1.8.0
tornado==5.0.1
pycurl==7.43.0.1
tornado_botocore==1.3.0
requests_unixsocket==0.1.5
thumbor==6.5.1
thumbor-plugins==0.2.0
thumbor_rekognition==0.1.1
tc_aws==6.2.10
opencv-python==3.2.0.6

